.tooltipster-light {
	border-radius: 5px; 
	border: 1px solid #575b5a;
	background: #575b5a;
	color: #e99634;
    opacity: 50%
}
.tooltipster-light .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}
