body {
    font: 14px Verdana;
    color: rgb(109, 109, 109);
    background-color: #000;
    background-image: url(../imgs/back_tile.jpg)
}

/*
svg {
    position: fixed;
    top: 5%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1000;
    font-size: 2rem;
}
svg.legend-svg {
    position: fixed;
    top: 20%;
    left: 15%;
    height: 50%;
    width: 50%;
    text-align: center;
    font-size: 16px;
    overflow: visible;
}
svg #clip {
    position: fixed;
    top: 30%;
    left: 20%;
    height: 80%;
    width: 80%;
    text-align: center;
    font-size: 16px;
}

*/

.overlay {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-transition: 0.25s opacity;
    -moz-box-align: center;
    -moz-box-pack: center;
    -moz-transition: 0.25s opacity;
    top: 10%;
    /* background: -webkit-radial-gradient(rgba(255, 255, 255, 0.0),
                                      rgba(127, 127, 127, 0.2) 50%,
                                      rgba(12, 18, 16, 0.95));
//  background: -moz-radial-gradient(rgba(255, 255, 255, 0.2),
                                      rgba(127, 127, 127, 0.5) 5%,
                                      rgba(12, 18, 16, 0.95));
    */
    bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    left: 0;
    padding: 0px;
    padding-bottom: 0px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
} 

.legend {
 z-index: 8888888888;
    position:relative;
    top:50px;
    left:50px;
}
.legenditem {
    overflow: visible;
}

#roomLegend {
    text-align: right;
    width: 200px;
      height: 200px;
      top: 0px;
    left: -50px;
    position: relative;
    overflow: visible;
}
.value {
    position: relative;
    left: 90px;
    top: -1.5em;
    padding: 0px;
}
.markings {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -moz-box-align: center;
    -moz-box-pack: center;
    bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    left: -10px;
    padding: 0px;
    padding-bottom: 0px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 10%;
}
a {
    color: #FFF
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.clipped {
    clip-path: url(#theClip);
    -webkit-clip-path: url(#theClip);
    -ms-clip-path: url(#theClip);
    -moz-clip-path: url(#theClip);
}

