@font-face {
    font-family: 'Nexa';
    font-weight: Bold;
    src: url("../fonts/Nexa_bold.otf") format("opentype");
}


@font-face {
    font-family: 'Nexa';
    font-weight: Light;
    src: url("../fonts/Nexa_light.otf") format("opentype");
}

#menu  {
  /** Solves boostrap styles applied over menu.*/
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  top: 30px;
}

.btn-default {
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

#errorMessage {
  top: 50%;
  width: 50%;
  margin: auto;
  display: block;
  left: 0;
  right: 0;
  position: absolute;
  color: white;
  font-family: 'Nexa';
    font-weight: Bold;
  font-size: 30px;
  text-align: center;
  visibility: hidden;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#buttons {
  position: relative;
  z-index: 380;
  top: 0px;
  display: table;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
}

#macInput {
  color: white;
  background-color: #565a5b;
  border: 2px solid white;
  font-family: 'Nexa';
    font-weight: Light;
  width: 50%;
  margin-right: 30px;
}

#macButton {
  color: white;
  background-color: #3bbd9b;
  background-image: none;
  border: 1px solid #41ffcf;
  font-family: 'Nexa';
  font-weight: Bold;
}

#randomMac {
  color: white;
  background-image: none;
  font-family: 'Nexa' ;
    font-weight:  Bold;
  background-color: #38be9d;
  border: 1px solid #41ffcf;
}

.cell {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

#dailyfingerprint {
  width: 15%;
  height: 50%;
  top: 25%;
  position: absolute;
  left:0;
}

#fingerprint {
  width: 100%;
  height: 100%;
  text-align: center;
}

#legend {
  width: 7%;
  height: 60%;
  top: 75%;
  left: 15%;
  position: absolute;
}

.link {
  stroke: #000;
  stroke-opacity: .5;
  fill: none;
}

#artists {
  position: absolute;
  top: 10%;
}

.artist.active {
  opacity: 1;
}

.artist {
  opacity: 0;
  -webkit-transition: opacity 0.5s, visibility 1s ease; /* Safari */
  transition: opacity 0.5s, visibility 1s ease;
}

.room.active {
  fill: "black";
}


body {
  background-image: url("../imgs/back_tile.jpg");
  width: 100%;
  height: 100%;
}

svg.darken .opacitySensible {
  opacity: 0.2;
}

svg * {
  -webkit-transition: opacity 0.5s, stroke-width 1s; /* Safari */
  transition: opacity 0.5s, stroke-width 1s;
}

.total-visibility {
  opacity: 1!important;
}

.highlighted-line {
  stroke-width: 2!important;
}

.daily-svg {
  height: 100%;
  width: 100%;
}

.legend-svg {
  width: 100%;
  height: 100%;
}

.general-svg {
  width:50%;
  top: 10%;
  text-align: center;
  margin: auto;
  left:25%;
}

#menudiv {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 400;
}

div#artists {
  width: 80%;
  left: 20%;
}

.shadowColor {
  -webkit-transition: opacity 1s, visibility 1s ease; /* Safari */
  transition: opacity 1s, visibility 1s ease;
  opacity: 0;
  visibility: hidden;
}

.shadowColor.active {
  opacity: 0.1;
  visibility: visible;
}
